root = true


[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{md,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

# Lock-файлы генерируются пакетным менеджером — не трогаем
[{*.lock,*.lockb,*lock.json}]
indent_style = unset
indent_size = unset
trim_trailing_whitespace = unset
insert_final_newline = unset
