body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3em;
    text-shadow: 
        0 0 3px red,   /* Мягкое свечение */
        0 0 5px red;   /* Немного более сильное свечение */
}


.social-links {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    margin: 10px 0;
}

.social-links a {
    color: #00aaff;
    text-decoration: none;
    font-size: 1.2em;
}

.social-links a:hover {
    text-decoration: underline;
}
